@page "/"

@inject IRepositoryCollection repo
@inject AuthenticationStateProvider authstate

<PageTitle>My Page</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if(customers is null)
{
    <p>Loading Customers...</p>
}
else
{
    foreach(CustomerDTO c in customers)
    {
        <p>@c.Name</p>
    }
}

@code{
    private List<CustomerDTO> customers = null!;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState auth = await authstate.GetAuthenticationStateAsync();

        customers = await repo.Customer.GetAllMine(auth.User);
    }
}